@page
@model Green_Gardens.Pages.AdminModel
@{
}
@{
    ViewData["Title"] = "Admin Product Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome Admin</h1>
    <p>Create, edit and delete products</p>
    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
    {
        <a asp-page="Create" class="btn btn-primary"> Add Item</a>
    }

    @if (User.Identity.IsAuthenticated)
    {
        <form method="get" asp-page="/Logout">
            <button type="submit" class="btn btn-warning">Logout</button>
        </form>
    }
</div>

<!--Products table-->
<div>
    <h2>Products</h2>
</div>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Current Stock</th>
            <th>Expected Stock</th>
            <th>Edit/Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Product)
        {

            @if (@item.Stock < @item.ExpectedStock)
            {
                <tr style="background-color:red; color:white;">
                <td>@item.Name</td>
                <td>@item.Description</td>
                <td>@item.Price.ToString()</td>
                <td>@item.Stock.ToString()</td>
                <td>@item.ExpectedStock.ToString()</td>

                <td>
                    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <a asp-page="/Edit" asp-route-id="@item.Id" class="btn btn-primary">Edit</a>
                        <a asp-page="/Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                    }
                </td>

                </tr>
            }
            else
            {
                <tr>
                <td>@item.Name</td>
                <td>@item.Description</td>
                <td>@item.Price.ToString()</td>
                <td>@item.Stock.ToString()</td>
                <td>@item.ExpectedStock.ToString()</td>

                <td>
                    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <a asp-page="/Edit" asp-route-id="@item.Id" class="btn btn-primary">Edit</a>
                        <a asp-page="/Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                    }
                </td>

            </tr>
            }
            
        }
    </tbody>
</table>

<div>
    <h3>Products below current stock</h3>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Current Stock</th>
            <th>Expected Stock</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model.Product)
        {
            @if (@item.Stock < @item.ExpectedStock)
            {
                <tr>
                <td>@item.Name</td>
                <td>@item.Stock.ToString()</td>
                <td>@item.ExpectedStock.ToString()</td>

                </tr>
            }
        }
    </tbody>

</table>
</div>


<div>
    <h3>Customers</h3>
<table class="table">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Loyalty Points</th>
            <th>Admin</th>
        </tr>
    </thead>

    <tbody>
            @foreach (var customer in Model.Customer)
            {
                @if(@customer.IsAdmin == true)
                {
                    <tr style="background-color: green;">
                        <td>@customer.FirstName</td>
                        <td>@customer.LastName</td>
                        <td>@customer.Email</td>
                        <td>@customer.LoyaltyPoints</td>
                        <td>@customer.IsAdmin</td>
                    </tr>

                }
                else
                {
                    <tr>
                        <td>@customer.FirstName</td>
                        <td>@customer.LastName</td>
                        <td>@customer.Email</td>
                        <td>@customer.LoyaltyPoints</td>
                        <td>@customer.IsAdmin</td>
                    </tr>
                }

            }
    </tbody>

</table>
</div>


