@page
@model Green_Gardens.Pages.BasketModel
@{
    ViewData["Title"] = "Basket";
}

<table class="table">
    <thead>
        <tr>
            <th><h2 class="display-4">Basket</h2></th>
        </tr>

        <tr>
            <th>Product Name</th>
            <th>Image</th>
            <th>Product Description</th>
            <th>Product Stock</th>
            <th>Product Price</th>
        </tr>

    </thead>
    <tbody>

        @foreach (var product in Model.Product)
        {
            <tr>
                <td>@product.Name</td>
                <td>
                    <img src="@product.ImagePath" alt="Product Image" style="width:200px">
                </td>
                <td>@product.Description</td>
                <td>@product.Stock</td>
                <td>@product.Price</td>
            </tr>
        }

        @*@foreach (var order in Model.Order)
        {
            <tr>
                <td>@order.Id</td>
                <td>@order.Customer.Email</td>
                <td>@order.Product.Name</td>
                <td>@order.Product.Price</td>
                <td>
                    <div class="popup" onclick="buyProduct()">
                        Click Here To Buy Product!!
                        <span class="popuptext" id="Buy">Product Bought</span>
                    </div>
                </td>
            </tr>
        }*@




    </tbody>
</table>


<style>
    .popup {
        position: relative;
        display: inline-block;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        color: red;
    }

        .popup .popuptext {
            visibility: hidden;
            width: 160px;
            background-color: #555;
            color: #fff;
            text-align: center;
            border-radius: 6px;
            padding: 8px 0;
            position: absolute;
            z-index: 1;
            bottom: 125%;
            left: 50%;
            margin-left: -80px;
        }

            .popup .popuptext::after {
                content: "";
                position: absolute;
                top: 100%;
                left: 50%;
                margin-left: -5px;
                border-width: 5px;
                border-style: solid;
                border-color: #555 transparent transparent transparent;
            }

        .popup .show {
            visibility: visible;
            -webkit-animation: fadeIn 1s;
            animation: fadeIn 1s;
        }

</style>

<script>
    function buyProduct() {
        var popup = document.getElementById("Buy");
        popup.classList.toggle("show");
    }
</script>