@page
@using Green_Gardens.Model
@using static Green_Gardens.Model.Customer
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    @if (User.Identity.IsAuthenticated @* && Customer.IsAdmin == true *@)
    {
        <a asp-page="Create" class="btn btn-primary"> Add Item</a>
    }

    @if (User.Identity.IsAuthenticated)
    {
        <form method="get" asp-page="/Logout">
            <button type="submit" class="btn btn-warning">Logout</button>
        </form>
    }
</div>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Current Stock</th>
            <th>Expected Stock</th>
            <th>Edit/Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Product)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Description</td>
                <td>@item.Price.ToString()</td>
                <td>@item.Stock.ToString()</td>
                <td>@item.ExpectedStock.ToString()</td>

                <td>
                    <a asp-page="/Edit" asp-route-id="@item.Id" class="btn btn-primary">Edit</a>
                    <a asp-page="/Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                </td>

                @* <td>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <a asp-page="/Edit" asp-route-id="@item.Id" class="btn btn-primary">Edit</a>
                        <a asp-page="/Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                    }
                </td> *@
                
            </tr>
        }
    </tbody>
</table>