@page
@model Green_Gardens.Pages.ProductsModel
@{
    ViewData["Title"] = "Shop";
}

<table class="text-center">
    <tr>
        <th><h2 class="display-4">Shop</h2></th>
        <th>
            @if (!User.Identity.IsAuthenticated)
            {
                <form method="get" asp-page="/Register">
                    <button type="submit" class="btn btn-success">Register</button>
                </form>
            }
        </th>
        <th>
            @if (!User.Identity.IsAuthenticated)
            {
                <form method="get" asp-page="/Login">
                    <button type="submit" class="btn btn-success">Login</button>
                </form>
            }
        </th>
        <th>
            @if (User.Identity.IsAuthenticated)
            {
                <form method="get" asp-page="/Logout">
                    <button type="submit" class="btn btn-warning">Logout</button>
                </form>
            }
        </th>
    </tr>

</table>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Image</th>
            <th>Description</th>
            <th>Stock</th>
            <th>Price</th>
            <th>Buy</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model.Products)
        {
            <tr>
                <td>@product.Name</td>
                <td>
                    <img src="@product.ImagePath" alt="Product Image" style="width:200px">
                </td>
                <td>@product.Description</td>
                <td>@product.Stock</td>
                <td>@product.Price</td>
                <td>
                    <button type="submit" class="btn btn-danger">Buy</button>
                </td>
            </tr>
        }



    </tbody>
</table>